In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
file_path = 'D:/K1_nam4/인공지능개론/artificial-intelligence/AI_class/artificial-intelligence/week3/dataFrame/car_evaluation.csv'

In [3]:
df = pd.read_csv(file_path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
df.keys()

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [6]:
df.shape

(1727, 7)

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1722    False
1723    False
1724    False
1725    False
1726    False
Length: 1727, dtype: bool

In [8]:
df.isnull().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

In [9]:
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [10]:
columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "output"]

In [11]:
label_encoders = {}

df_columns_rename = pd.read_csv(file_path, names=columns, header=None)

In [12]:
df_columns_rename

     buying  maint  doors persons lug_boot safety output
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [14]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [15]:
df.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [16]:
df.value_counts()

vhigh  vhigh.1  2      2.1   small  low   unacc
vhigh  vhigh    5more  more  small  med   unacc    1
high   high     2      2     big    high  unacc    1
                                    low   unacc    1
                                    med   unacc    1
                             med    high  unacc    1
                                                  ..
                       more  big    low   unacc    1
                                    high  acc      1
                       4     small  med   unacc    1
                                    low   unacc    1
                                    high  acc      1
Name: count, Length: 1727, dtype: int64

In [17]:
label_encoders = {}

for col in columns:
    label_encoders[col] = LabelEncoder()
    df_columns_rename[col] = label_encoders[col].fit_transform(df_columns_rename[col])

In [18]:
df_columns_rename

      buying  maint  doors  persons  lug_boot  safety  output
0          3      3      0        0         2       1       2
1          3      3      0        0         2       2       2
2          3      3      0        0         2       0       2
3          3      3      0        0         1       1       2
4          3      3      0        0         1       2       2
...      ...    ...    ...      ...       ...     ...     ...
1723       1      1      3        2         1       2       1
1724       1      1      3        2         1       0       3
1725       1      1      3        2         0       1       2
1726       1      1      3        2         0       2       1
1727       1      1      3        2         0       0       3

[1728 rows x 7 columns]

In [19]:
df_columns_rename.value_counts()

buying  maint  doors  persons  lug_boot  safety  output
3       3      3      1        0         1       2         1
                                         0       2         1
                      0        2         2       2         1
                                         1       2         1
                                         0       2         1
                                                          ..
0       0      0      0        1         1       2         1
                                         0       2         1
                               0         2       2         1
                                         1       2         1
                                         0       2         1
Name: count, Length: 1728, dtype: int64

In [20]:
df_columns_rename['output'].value_counts()

output
2    1210
0     384
1      69
3      65
Name: count, dtype: int64

In [21]:
X = df_columns_rename.drop("output", axis=1).values
y = df_columns_rename['output'].values

In [22]:
X

array([[3, 3, 0, 0, 2, 1],
       [3, 3, 0, 0, 2, 2],
       [3, 3, 0, 0, 2, 0],
       ...,
       [1, 1, 3, 2, 0, 1],
       [1, 1, 3, 2, 0, 2],
       [1, 1, 3, 2, 0, 0]])

In [23]:
y

array([2, 2, 2, ..., 2, 1, 3])

In [24]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [25]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1382, 6), (346, 6), (1382,), (346,))

In [26]:
svm_model = SVC(random_state=0)
svm_model.fit(X_train, y_train)
pred_svm = svm_model.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.9132947976878613
[[ 73   1   4   1]
 [  7   8   0   2]
 [ 12   0 228   0]
 [  3   0   0   7]]

In [27]:
dt_model = DecisionTreeClassifier(random_state=0)
dt_model.fit(X_train, y_train)
pred_dt = dt_model.predict(X_test)

print("\n--- Decision Tree Classifier ---")
print(accuracy_score(y_test, pred_dt))
print(confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9682080924855492
[[ 71   4   4   0]
 [  0  17   0   0]
 [  2   0 238   0]
 [  1   0   0   9]]

In [28]:
RF_model = RandomForestClassifier(random_state=0)
RF_model.fit(X_train, y_train)
pred_RF = RF_model.predict(X_test)

print("\n--- Random Forest Classifier ---")
print(accuracy_score(y_test, pred_RF))
print(confusion_matrix(y_test, pred_RF))

--- Random Forest Classifier ---
0.9653179190751445
[[ 73   4   1   1]
 [  1  13   0   3]
 [  1   0 239   0]
 [  1   0   0   9]]

In [29]:
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)
pred_knn = knn_model.predict(X_test)

print("\n--- KNN Classifier ---")
print(accuracy_score(y_test, pred_knn))
print(confusion_matrix(y_test, pred_knn))

--- KNN Classifier ---
0.9393063583815029
[[ 72   1   6   0]
 [ 10   7   0   0]
 [  3   0 237   0]
 [  1   0   0   9]]

In [30]:
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
pred_lr = lr_model.predict(X_test)

print("\n--- Logistic Regression Classifier ---")
print(accuracy_score(y_test, pred_lr))
print(confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.6502890173410405
[[  9   0  67   3]
 [  1   0  16   0]
 [ 22   0 214   4]
 [  2   0   6   2]]